.Highlight {
  position: absolute;
}

.Highlight__emoji {
  position: absolute;
  color: black;
  opacity: 1;
  font-size: 28px;
}

.Highlight__parts {
  opacity: 1;
}

.Highlight__part {
  cursor: pointer;
  position: static;
  transition: background 0.3s;
  opacity: 0.4;
}

.Highlight__popup {
  background-color: #3d464d;
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  max-width: 300px;
  max-height: 100px;
  overflow-y: scroll;
}

.Highlight--scrolledTo .Highlight__part {
  background: #c0392b;
}

.Highlight__text-container {
  position: absolute;
  top: 0px;
  left: -45px;
  background-color: #cccccc;
  border-radius: 50%;
  height: 37px;
  width: 37px;
  border: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  opacity: 1;
  z-index: 9;
}

.Highlight__text-node {
  color: black;
  font-size: 1.8em;
  margin: 0;
}

.Highlight__part-container {
  opacity: 1;
  position: absolute;
}
